
.wrap {
    width: 30rem;
    height: 30rem;
    background-color: lightskyblue;
    /*display: flex;*/
    /*!*justify-content: center;*!*/
    /*!*align-items: center;*!*/
    display: grid;
    place-items: center;
     transform: rotate(-20deg);
    margin: auto;



}

.text {
    width: 20rem;
    height: 20rem;
    background-color: #0eea90;
     display: grid;
    place-items: center;
     transform: rotate(-45deg);
}
.child{
    width: 10rem;
    height: 10rem;
    background-color: #8f2693;
    /*-webkit-transform: rotate(-45deg);*/
    /*-ms-transform: rotate(-45deg);*/
    transform: rotate(-1deg);
    /*top: 37px;*/
    /*left: -43px;*/
    /*position: relative;*/
}
.row{
   margin-top: 4rem;
    margin-bottom: 1rem;
    background-color: lightseagreen;
    font-family: italic;
    font-size: 4rem;
    text-align: center;
    position: absolute;

}
/*.image-4{*/
/*   position: relative;*/




.image-2{
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    position: absolute;
}
.image-3{
    position: absolute;
}