body {
    margin: 0;
    background-color: #000;
    padding: 0;
    /*background-blend-mode: cover;*/
    padding-top: 00px;
    padding-bottom: 200px;
    background-clip: text;
    letter-spacing: -2px;
    background-repeat: no-repeat;
    color: ghostwhite;
    align-items: center;
    justify-content: center;
    display: flex;


}

h1 {
    font-family: Pristina;
    text-transform: uppercase;
    /*align-content: center;*/
    font-weight: 900;
    font-size: 250px;
    text-align: center;
    letter-spacing: 20px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) ;
    background-image: url("images background/background 3.jpg");
    background-size: cover;
    justify-content: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

